body{
  padding: 0;
  border: 0;
  margin: 0;
}

.head img{
  height: 80px;
  padding-top: 65px;
}

.head{
  background-color: #4EA0FF;
  height: 150px;
  background-image: url(../img/pattern.png);
  background-position: top;
  background-size: 40%;
}

.title{
  margin-top: 10px;
  font-size: 60px;
  margin-bottom: 0;
}

.subtitle{
  font-size: 30px;
  font-weight: bold;
  color: gray;
}

.subtitle .azzurro{
  color: #4EA0FF;
}

.subtitle .data{
  margin-top: 0;
  font-size: 20px;
}